.flight-card__header { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    background-color: var(--blue);
    color: #fff;
    font-size: 20px;
}

.flight-card__price-wrapper { 
    text-align: end;
}

.flight-card__price { 
    margin-bottom: 2px;
}

.flight-card__price-text { 
    margin: 0;
    font-size: 10px;
}