.flights-wrapper { 
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    width: 55%;
}

.flights-list { 
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    row-gap: 20px;
    list-style: none;
}

.showMore-button { 
    align-self: center;
    width: 200px;
}